.language-json.code-highlight .token.property {
  color: #1677ff !important;
}

.language-json.code-highlight .token.string {
  color: #1677ff !important; /* String values */
}

.language-json.code-highlight .token.number {
  color: #52c41a !important; /* Number values */
}

.language-json.code-highlight .token.boolean {
  color: #d14f00 !important; /* Boolean values */
}

.language-json.code-highlight .token.null {
  color: #800080 !important; /* Null values */
}

.language-json.code-highlight .token.punctuation {
  color: #999 !important; /* Punctuation */
}
